.new-products-page {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .new-products-header h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .new-products-header h1 {
    font-size: 36px; 
    font-weight: 800; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
  }
  .new-products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 16px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    text-align: left; 
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .product-details {
    margin-top: 10px;
  }
  
  .product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  #price {
    color: black;
    font-size: 1rem;
  }
  
  #profile-box {
    color: black;
    display: flex;
    align-items: center;
  }
  
  #profile-box img {
    width: 24px;
    height: auto;
    margin-right: 8px;
  }
  
  #createdAt {
    font-size: 0.9rem;
  }
  

  .product-card * {
    word-wrap: break-word; 
  }
  

  .product-details p,
  .product-details h2 {
    margin-bottom: 8px; 
  }
  

  .product-card {
    overflow: hidden; 
  }
  