#image-box {
  width: 150%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  border-radius: 8px;
}

#image-box > img {
  max-width: 50%;
  max-height: 70px;
  object-fit: contain;
  max-height: 400px;
}

#profile-box {
  padding: 16px;
  margin-top: 8px;
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
}

#profile-box > img {
  width: 50px;
  height: 50px;
}

#profile-box > span {
  font-size: 15px;
  margin-left: 8px;
  font-weight: 600;
}

#contents-box {
  padding: 16px;
  max-width: 1200px;  /* 최대 너비 설정 */
  margin: 0 auto;  /* 중앙 정렬 */
}
#name {
  font-size: 20px;
  font-weight: 400;
}

#price {
  font-size: 16px;
  font-weight: 600;
}
#createdAt {
  font-size: 12px;
  color: rgb(187, 187, 187);
}
#description {
  margin-top: 16px;
  font-size: 16px;
}
#purchase-button {
  margin-top: 8px;
  margin-bottom: 16px;
}

#description-box{
    min-height: 150px;
}
#reviews-box {
  margin-top: 20px;
  border-top: 1px solid #e8e8e8;
  padding-top: 20px;
}

.review-item {
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 0;
}
